<!DOCTYPE html>
<html lang="en">

<head>
	<title>Modules</title>
</head>

<body>
	<h1>Modules</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Credits</th>
			<th>Edit</th>
			<th>List</th>
		</tr>
		<% modules.forEach((module)=> { %>
			<tr>
				<td>
					<%= module.mid %>
				</td>
				<td>
					<%= module.name %>
				</td>
				<td>
					<%= module.credits %>
				</td>
				<td><a href="/modules/<%= module.mid %>">Edit</a></td>
				<td><a href="/module/students/<%= module.mid %>">List</a></td>
			</tr>

			<% }) %>
	</table>
	<br>

	<a href="/">
		<- Home</a><br>
</body>

</html>